language: node_js
node_js:
- '6.1'
notifications:
  email: false
branches:
  only:
  - master
before_install:
- npm install -g gulp
install:
- npm install
script: gulp
deploy:
  provider: npm
  email: darnellandries7@gmail.com
  api_key:
    secure: Gb6gqxweeHmZ6d4n+kmW7DNmFr/jXcume2SjwDYAuQDGySePa52B45PvPaeoa2nofLWsR7UOV4InVHN0NbTB0v8QOoCrsil0vK/VyDc74Qj7Qvfx8hSqO4NN/can3Cu3+mbWHmRkNbWXydhh5tNOWJ4sGDdvVD9Mchoh0PcqJITUOTgbpecyJMoZ7Trxj6Euw9iMmqryTMpucNeRih2O4nWyEBboEss8cNhuJtcwEFZ3pgYT4cdfOUHyN/9zzZV5VOJymdsV6A5jW0N65DFHAYUQjX+yUOTu8B9Z7ZkIQVnEmO/RwIaZrSdbTeNngfbDlOMrO11jFCgw8mmnOyMS69pg8cqlfbkXhc1CXeRBqYeCGz9bYrjKN+4qDqUmYjxmMc4QWVafjRvSKg0EGoSedtktET5TIKkRPyrUdO98S99Cix8zFg4r0gfzYyCY47c2/2O7dcTUR4b/NKtNo7mQB/qPYaXFDZtm26iZc4LQh7JSRTaIXyFzBwWCuW89xxKhkjQt8+hOWpA+ELnpelPHXV+y2cKXjEcCwADeDayGsBQSJYag/fMQLCH/i+uJCxLj+7jkao+S00UwdqUBVo0mJblMokC/PmSCrM94CYMIDQfeOCeaM19J0ZTWKyYwTG1WscFWKSudjrKpiQHNW1vf41i1MuGyRse1/FmNQcxDsgs=
  on:
    repo: DJAndries/drag-timetable
