.dragtimetable-table {
  border-collapse: collapse;
}
.dragtimetable-table td {
  border: 1px solid #ddd;
}
.dragtimetable-table th {
  text-align: left;
  vertical-align: top;
  border: 1px solid #ddd;
  font-style: bold;
}

.dragtimetable-headertext {
  margin: 10px;
}

.dragtimetable-spacer {
  width: 0px;
}

.dragtimetable-task {
  width:100%;
  height:100%;

  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  /*padding: 8px;*/
  border: 1px solid transparent;
  border-radius: 8px;

  font-family:Arial, sans-serif;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  cursor: grab;
}
